img {
    content: url("../../assets/logo2.png");
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

body {
    background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
    color: #514B64;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    color: #222;
    background-color: #efeff4;
    font-family: proxima-nova, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5625;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

* {
    color: #000 !important;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

li .nav-item {
    line-height: 90px;
}

.right-icon {
    display: flex;
    flex-direction: column;
}

.right-icon span {
    font-size: 12px;
}

.right-icon i {
    font-size: x-large;
    -webkit-text-stroke: 1px;
}

li .nav-item {
    padding: 0;
    border-bottom: none;
    font-family: proxima-nova-bold;
    margin: 0 13px;
}

li a {
    font-weight: 500;
    padding: 15px;
}

.navbar .nav-item>li>a:hover,
.navbar .nav-item>li>a:focus {
    background-color: #ccc !important;
    height: 50px;
}

.dropdown-toggle::after {
    display: none;
}

.chevron-icon {
    padding-left: 5px;
    -webkit-text-stroke: 1px;
    font-size: small;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 375px) {
    .logo {
        max-width: 0.2rem;
    }

    img {
        content: url("../../assets/logo.png");
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-sm,
    .navbar>.container-md,
    .navbar>.container-lg,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        display: flex;
        flex-wrap: initial;

    }

    .icon-right-header ul {
        display: -webkit-inline-box;
        padding-left: 145px;
    }

    .right-icon span {
        display: none !important
    }

    .nav-link {
        padding: 4px !important
    }
    .has-search{
        display: none;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .logo {
        max-width: 60px;
        // max-height: 10px;
    }

    img {
        content: url("../../assets/logo_copy.png");
    }

    .icon-right-header {
        padding-left: 2px;
    }

    .right-icon span {
        display: none !important
    }

    .icon-right-header ul {
        display: -webkit-inline-box;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .img-logo {
        height: inherit;
    }

    .has-search-input {
        display: unset;
    }

    .logo {
        width: 173px;
        height: 46px;
        margin-top: 0;
        right: 2%;
        position: relative;
    }

    .right-icon span {
        display: unset !important
    }

    .navbar {
        padding: 0 15px;
        background-color: white !important;
        height: 80px;
    }

    .contact {
        display: none;
    }


    .has-search {
        padding-left: 4rem;
        width: 27rem;
        display:unset !important
    }

    .has-search .form-control {
        padding-left: 2.375rem;
        border-radius: 3rem;
        background-color: #EBEBEB;

    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
    li a {
        font-weight: bold;
        font-size: 14px
    }
    li {
        margin-right:10px
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        margin-left: 43px;
    }

}