.jumbotron{
    margin:0 auto;
    border-radius: 0;
    background: url(../../assets/Hero-banner-desktop.jpg);
    background-size: cover;
    color:white !important;
    max-height:445px;
  }
  button {
    background-color: #00E2C9;
    font-weight: 700;
    font-size: 0.85rem !important;
  }
  .display-2 {
    font-size: 2.2rem !important;
    font-weight: 700;
    max-width: 24%;
  }
  .container-display {
    
    padding:7% 7% 7% 7%;
  }
  .lead {
    font-size: 1rem !important;
    font-weight: 300;
    max-width: 25%;
    padding-bottom: 1%;

}

@media (min-width: 375px) and (max-width:992px){
  .jumbotron{
    background: url(../../assets/Hero-banner-mobile.jpg) no-repeat;
    background-size: contain;
    color: white !important;
    height: 445px !important;
    margin: unset;
    background-color: #222222;
  }
  
  .lead {
    font-size: 1rem !important;
    font-weight: 300;
    max-width: unset ;
    text-align: center;
    // padding-bottom: unset;
}
.display-2 {
  font-size: 2.2rem !important;
  font-weight: 700;
  max-width: unset;
  text-align: center;
}
button {
  width:100%
}
.banner-content {
  margin-top: 58%;
}
  
}